.container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1100px;
    margin: 0 auto;
}

.wrapper {
    background: rgb(245, 247, 255);
    min-height: 800px;
    padding: 40px;
}

.title {
    font-weight: 700;
    color: rgb(17, 24, 39);
}

.subtitle {
    color: rgb(107, 114, 128);
    margin-top: 8px;
    font-size: 18px;
}

.headerBlock {
    max-width: 1100px;
    margin: 0 auto 30px auto;
}
